@use 'src/styles/_colors.scss' as *;

:host {
  display: flex;
  flex-flow: column;
  position: relative;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  min-width: 500px;
  z-index: 1;
}

h5 {
  padding: 0.5rem;
  background: $blue-accent;
  text-align: center;
  color: white;
}