@use 'colors' as *;

:host {
  position: relative;
  display: flex;
  flex-flow: column;
  background: white;
  border-radius: 1rem;
  width: clamp(300px, 80vw, 500px);
  mask-image: radial-gradient(white, black);
}

textarea {
  display: block;
  margin: 10px 0;
  padding: 0.5rem;
  border: 1px solid #4b4b4b69;
  border-radius: 0.5rem;
  background: #f7f7f7;
  outline: 0;
  height: 10rem;
  resize: none;
}

h5 {
  padding: 0.5rem;
  background: $blue-accent;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  width: 100%;
  z-index: 1;

  span {
    font-size: smaller;
  }
}

.btn_container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  gap: 1rem;

  button.recording {
    background-color: $red;
    mat-icon {
      color: white;
    }
  }
}
