@use 'src/styles/_colors.scss' as *;

:host {
  position: relative;
  display: flex;
  flex-flow: column;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
}

.container {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  width: clamp(300px, 80vw, 500px);
  z-index: 1;
}

h5 {
  padding: 0.5rem;
  background: $blue-accent;
  text-align: center;
  color: white;
}
