/*
Colors
*/

/*
App Primary Colors
*/
$blue-dark-primary: #020e29;
$blue-accent: #16b;
$blue-accent-secondary: #5766c4db;

/*
Neutral & Grey Scale
*/
$white: #fff;
$white-90: rgba(#fff, 90%);
$gray-white: #f8f8f8;
$gray-light: #d9d9d9;
$gray-medium-light: #c5c5c5;
$gray-medium: #959595;
$gray-dark: #707070;
$cl-black: #424242;
$near-black: #161616;
$dark-blue: #1f323e;
$black: #000;

/*
Map Color Palette
*/
$blue: #00c5ff;
$green: #9bd390;
$yellow: #ffcd03;
$orange-yellow: #f6b409;
$orange: #f68709;
$red: #e92300;

/*
Components
*/
$blue-gray-light: #eff3f8;
$blue-gray-medium: #c9d6e8;
$blue-gray-dark: #8198b7;
$blue-navy: #146eae;
$link-blue: #57a4ff;
$bright-blue: #2976d1;
$text-blue: #0c517f;
$midnight-blue: #191970;
$success-green: #3dc667;
$alert-red: $red;
$magenta: #c800e9;
$purple: #7500e9;
$dark-purple: #4d0397;

/*
State-layer
*/
$light-hover: #ebf4ff0f;
$light-focus: #ebf4ff1f;
$dark-hover: #ffffff14;
$dark-focus: #ffffff1f;
$white-hover: #ededed;
$white-focus: #dbdbdb;
$blue-dark-primary-hover: #041232;
$blue-gray-dark-hover: #90a6c4;
$blue-accent-hover: #4a91e7;
$gray-white-hover: #ebebeb;
$dark-blue-hover: #2a4454;
$dark-blue-selected: #335164;
