:host {
  display: block;
  width: 100%;
  height: 100%;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 4rem;
  width: 100%;
  font-family: sans-serif;
  background: #050515;
  padding: 2rem;
}
