$shape-1: 'M 100 600 q 0 -500, 500 -500 t 500 500 t -500 500 T 100 600 z';
$shape-2: 'M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z';
$shape-3: 'M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z';
$shape-4: 'M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z';
$shape-5: 'M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z';
$shape-6: 'M 100 600 q 100 -600, 500 -500 t 400 500 t -500 500 T 100 600 z';
/* -------------------------------------------------------------------------- */

:host {
  --bg-0: #101030;
  --bg-1: #050515;
  --blob-1: #984ddf;
  --blob-2: #4344ad;
  --blob-3: #74d9e1;
  --blob-4: #050515;
  --size: 50%;
  --scale: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 100%;
  background: var(--bg-1);
  overflow: hidden;
  // transition: background 1000ms ease;
  aspect-ratio: 1 / 1;
  transition: transform 500ms ease;
  transform: scale(var(--scale));
  /* ----------------- */

  &:active {
    transform: scale(0.8);
    --blob-1: red;
    --blob-2: rgb(255, 199, 199);
    --blob-3: salmon;
    --bg-0: #dda6a69f;
  }
  &::after {
    position: absolute;
    content: '';
    aspect-ratio: 1 / 1;
    width: calc(var(--size) * 0.5);
    background: var(--bg-0);
    border-radius: 50%;
    filter: blur(2rem);
    transition: background 500ms ease;
  }
}

.blobs {
  aspect-ratio: 1 / 1;
  width: calc(var(--size) * 0.6);
  max-height: 100%;
  max-width: 100%;

  svg {
    position: relative;
    height: 100%;
    z-index: 2;
  }

  .blob {
    animation: rotate 25s infinite alternate ease-in-out;
    transform-origin: 50% 50%;
    opacity: 0.8;

    path {
      animation: blob-anim-1 5s infinite alternate cubic-bezier(0.45, 0.2, 0.55, 0.8);
      transform-origin: 50% 50%;
      transform: scale(0.8);
      transition: fill 800ms ease;
    }

    &.alt {
      animation-direction: alternate-reverse;
      opacity: 0.3;
    }
  }

  .blob-1 {
    path {
      fill: var(--blob-1);
      filter: blur(1rem);
    }
  }

  .blob-2 {
    animation-duration: 18s;
    animation-direction: alternate-reverse;

    path {
      fill: var(--blob-2);
      animation-name: blob-anim-2;
      animation-duration: 7s;
      filter: blur(0.75rem);
      transform: scale(0.78);
    }

    &.alt {
      animation-direction: alternate;
    }
  }

  .blob-3 {
    animation-duration: 23s;

    path {
      fill: var(--blob-3);
      animation-name: blob-anim-3;
      animation-duration: 6s;
      filter: blur(0.5rem);
      transform: scale(0.76);
    }

    &.alt {
      animation-direction: alternate;
    }
  }

  .blob-4 {
    animation-duration: 31s;
    animation-direction: alternate-reverse;
    opacity: 0.9;

    path {
      fill: var(--blob-4);
      animation-name: blob-anim-4;
      animation-duration: 10s;
      filter: blur(10rem);
      transform: scale(0.5);
    }

    &.alt {
      animation-direction: alternate;
      opacity: 0.8;
    }
  }

  @keyframes blob-anim-1 {
    0% {
      d: path($shape-1);
    }
    30% {
      d: path($shape-2);
    }
    70% {
      d: path($shape-3);
    }
    100% {
      d: path($shape-4);
    }
  }

  @keyframes blob-anim-2 {
    0% {
      d: path($shape-3);
    }
    40% {
      d: path($shape-5);
    }
    80% {
      d: path($shape-2);
    }
    100% {
      d: path($shape-6);
    }
  }

  @keyframes blob-anim-3 {
    0% {
      d: path($shape-2);
    }
    35% {
      d: path($shape-4);
    }
    75% {
      d: path($shape-6);
    }
    100% {
      d: path($shape-3);
    }
  }

  @keyframes blob-anim-4 {
    0% {
      d: path($shape-4);
    }
    30% {
      d: path($shape-6);
    }
    70% {
      d: path($shape-2);
    }
    100% {
      d: path($shape-5);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
