:host {
  display: flex;
  flex-flow: column;
}

textarea {
  display: block;
  margin: 10px 0;
  padding: 0.5rem;
  border: 1px solid #4b4b4b69;
  border-radius: 0.5rem;
  background: #f7f7f7;
  outline: 0;
  height: 10rem;
  resize: none;
}

.btn_container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  gap: 1rem;

  button.recording {
    background-color: red;
  }
}
